{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
  	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  	<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'imagenes/icons/favicon.ico' %}"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" href="{% static 'css/util.css' %}">
  	<!--===============================================================================================-->	
  	<link rel="stylesheet" href="{% static 'css/main.css' %}">
  	<!--===============================================================================================-->	
  </head>
  <body>  	
    <div class="container-login100" style="background-image: url('../../../static/imagenes/piña.jpg');">
		<div class="title">
  			<h1 class="h1"align="center">Esta es una página de prueba, por favor no introducir información sensible</h1>	
  		</div>
  		<div class="container-login100-form-btn admin-button">
			<a >
			</a>
		</div>
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form action="." method="POST" class="login100-form validate-form">
			    {% csrf_token %}

				<span class="login100-form-title p-b-37">
					Inicia Sesión
				</span>
				{% for field in form %}
                    <div class="wrap-input100 validate-input m-b-20">
                    {{ field }}
                    <span class="focus-input100"></span>
                    {{ field.errors }}
                    </div>
                    <br>
                {% endfor %}
                <br>
                <!--
				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
					<input class="input100" type="text" name="username" placeholder="Correo">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<input class="input100" type="password" name="password" placeholder="Contraseña">
					<span class="focus-input100"></span>
				</div>
				-->
				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Entrar
					</button>
				</div>

				<br>
				<div class="text-center">
					<a href="registro-cliente/" class="txt2 hov1">
						¿No tienes cuenta? Regístrate
					</a>
				</div>
			</form>
		</div>
	</div>

  </body>
</html>