{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="icon" type="image/png" href="{% static 'imagenes/icons/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    
    
    
    <div class="container-login100" style="background-image: url('../../../static/imagenes/piña.jpg');">
        
        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
            <form action="." method="POST" class="login100-form validate-form">
                {% csrf_token %}
                
                <span class="login100-form-title p-b-37">
                    Registro
                </span>
                {% for field in form %}
                    <div class="wrap-input100 validate-input m-b-20">
                    {{ field }}
                    <span class="focus-input100"></span>
                    {{ field.errors }}
                    </div>
                {% endfor %}
                <br>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Aceptar
                    </button>
                </div>

                <br>
                

            </form>
        </div>
    </div>

  </body>
</html>
